<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Article - UIkit 3 KickOff</title>
		<link rel="icon" href="img/favicon.ico">
		<!-- CSS FILES -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/css/uikit.min.css">
        <link rel="stylesheet" type="text/css" href="styles.css">
	</head>
	<body>
        <div class="uk-height-1-1">
            <div class="uk-position-relative">
                <div class="uk-padding">
                    <div class="uk-container">
                        <h1 class="uk-heading-hero logo">RYAN COOK</h1>
                        <h2 class="uk-h1 uk-heading-bullet">Full stack marketer</h2>
                        <p class="uk-text-muted">Currently Director of Analytics @ <a href="https://element-360.com" class="uk-link-muted">Element-360</a> in Asheville, NC</p>
                    </div>

                    <div class="uk-container mid">
                        <h2 class="uk-heading-line"><span>Navigate</span></h2>
                        <div class="uk-child-width-1-2@s" uk-grid uk-height-match="target: > div > .uk-card; row: false">
                            <div class="uk-first-column">
                                <a href="#" class="uk-link-text"><div class="uk-card uk-card-default uk-card-body">
                                    <h3 class="uk-card-title">About</h3>
                                    <p>A bit about my life, family, and a few nifty playlists if you're interested and more to come.</p>
                                </div></a>
                            </div>
                            <div>
                                <a href="#" class="uk-link-text"><div class="uk-card uk-card-default uk-card-body">
                                    <h3 class="uk-card-title">Work</h3>
                                    <p>A bit about my life, family, and a few nifty playlists if you're interested.</p>
                                </div></a>
                            </div>
                            <div>
                                <a href="#" class="uk-link-text"><div class="uk-card uk-card-default uk-card-body">
                                    <h3 class="uk-card-title">Resources</h3>
                                    <p>A bit about my life, family, and a few nifty playlists if you're interested and more to come</p>
                                </div></a>
                            </div>
                            <div>
                                <a href="#" class="uk-link-text"><div class="uk-card uk-card-default uk-card-body">
                                    <h3 class="uk-card-title">Contact</h3>
                                    <p>A bit about my life, family, and a few nifty playlists if you're interested and more to come</p>
                                </div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
        <div id="particles-js"></div>

		<!-- GOOGLE FONT -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<!-- JS FILES -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit-icons.min.js"></script>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script async src="particles.json"></script>
	</body>
</html>
